---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1>👋 Hey. I'm Adam.</h1>
<p>I write code, jump out of airplanes, make stuff from wood, <a href="https://workingcode.dev">podcast</a>,
and write about all of that stuff here. Mostly about code, though.</p>

<p>I'm the CTO of <a href="https://www.alumniq.com">AlumnIQ</a>. We're a pretty small company so I
wear many hats: coder, humane interface designer, and technical debt herder to name a few. I identify
as Philadelphian, but I live in the suburbs.</p>

<p>This is my <a href="/blog/2021/no-longer-a-blog-now-a-digital-garden/">digital garden</a>: a place for me to plant seeds of thought, and to cultivate them
over time. Sometimes I help them grow, and sometimes they help me grow. Not everything you read here is a
"finished" piece. <em>What does "finished" even mean, anyway?</em></p>

<h2>My Favorites</h2>
<p>Here are some of the things I've written over the years that I'm most proud of.</p>
<ul>
  <li><a href="/blog/2020/time-is-all-you-have/">Time Is All You Have</a></li>
  <li><a href="/blog/2021/the-flywheel-of-testing/">The Flywheel of Testing</a></li>
  <li><a href="/blog/2019/is-imposter-syndrome-actually-good-for-you/">Is Impostor Snydrome Actually Good for You?</a></li>
  <li><a href="/blog/2021/testing-untestable-cfml/">Testing Untestable CFML</a></li>
  <li><a href="/blog/2021/chaotic-good-creating-determinism-where-none-exists/">Chaotic Good: Creating Determinism Where None Exists</a></li>
  <li><a href="/blog/2021/sweat-the-small-stuff/">Sweat the Small Stuff</a></li>
  <li><a href="/blog/2020/getting-started-with-taffy-2020/">Getting Started with Taffy: 2020 Edition</a></li>
  <li><a href="/blog/2020/challenge-breeds-stability/">Challenge Breeds Stability</a></li>
  <li><a href="/blog/2019/slow-is-smooth-smooth-is-fast/">Slow is Smooth, Smooth is Fast</a></li>
  <li><a href="/blog/2016/the-cost-of-abstraction/">The Cost of Abstraction</a></li>
  <li><a href="/blog/2016/cobblers-children-syndrome/">Cobbler's Children Syndrome</a> &ndash; my backups are better now, but I still haven't restored all of my old content! 😵</li>
</ul>

<p>Or, <a href="{{ '/blog/' | url }}">browse all articles chronologically</a>.
Also available as <a href="/feed/feed.xml">RSS</a> and <a href="/feed/feed.json">JSON</a>.</p>

<h2>More about me</h2>

<p>Socially, I'm most active on <a href="https://twitter.com/adamtuttle">Twitter</a>. I use
<a href="https://github.com/atuttle">GitHub</a> daily, but mostly for work these days. Still, I can be
found putzing around in open source as needed and as my interests motivate. I have two Instagram accounts:
for <a href="https://www.instagram.com/alteregowoodworks/">woodworking</a>, and
<a href="https://www.instagram.com/adamtuttle/">skydiving</a>. When  time allows, I also like to read,
so you can see what I've been reading over on <a href="https://www.goodreads.com/author/show/7514385.Adam_Tuttle">GoodReads</a>.
I am a devout believer in the oxford comma.</p>

<p>I joined <a href="https://alumniq.com/">AlumnIQ</a> as employee #2 in 2012, where I have become the CTO and
Lead developer, shaping and building technology that aims to revolutionize Higher Education Advancement, and
Alumni Relations. In my time here, I've helped grow the company from two people to five.</p>

<p>I work from home on a geographically distributed, 100% remote team, which means that on most days I get the
privilege of making breakfast and lunch for my two children. I have a strange addiction to collecting board games
even though we don't play them as much as I'd like.</p>

<p>In more recent years I've found that I love woodworking, so when I'm not coding or falling out of various
aircraft you'll most often find me in my basement turning wood into things.</p>

<p>I love traveling, whether it be for work, to attend or speak at an event, or vacationing. I've lived on all
three Continental American coasts, and <a href="https://www.google.com/maps/@38.6903073,-27.9664891,8.98z">The Azores</a>.
My dog is named after a character from Futurama. I've called 911 in two different emergency situations. One of
them was for my brother. I swam a mile, camped in deep snow, hiked some parts of the Appalachain Trail and
different parts of Redwood National and State Parks. I've never been to the Grand Canyon. I remember attending
six different schools up to and including high school, but it might have been more. I can tie a bowline knot
with one hand. My favorite author is Bill Bryson, but my favorite book genre is hard science fiction.
Space operas are my jam.</p>

<p>Speaking of books, I wrote and self-published a book: <a href="https://restassuredbook.com">REST Assured</a>—
and I did it over the course of two weeks, after work. If you use or build APIs, it might interest you.</p>

<p>Want to chat? <a href="https://twitter.com/intent/tweet?text=@adamtuttle%20my%20favorite%20bridge%20is">Tweet at me</a>. 🐦</p>

<hr/>

<p>Every once in a while I send out emails to my email list. I do have a few things that I sell, and I also
use it to raise awareness for other new projects, like my podcast <a href="https://workingcode.dev">Working Code</a>.
If that sounds like something you might be interested in, have I got the form for you!</p>

<p>Emails are infrequent, I do my best to respect your inbox by giving you the opportunity to opt out of specific
topics, I don't share or sell your contact information, and you can unsubscribe at any time.</p>

<script async data-uid="02c5dc9bec" src="https://adam-tuttle.ck.page/02c5dc9bec/index.js"></script>
