---
layout: layouts/home.njk
---

<h2>Done!</h2>
<p>Thanks for letting me know you're not interested in REST Assured. I'll stop emailing you about it, forever!</p>
<p>That's it. No confirm button. No "are you sure?" No pleas to change your mind.</p>
<p>I respect your inbox.</p>
<p>Have a great day.</p>
