---
permalink: /tags/
layout: layouts/home.njk
eleventyNavigation:
  key: Tags
  order: 3
---
<h1>Tags</h1>

{% for tag in collections.tagList | filterTagList %}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
  <p><a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a></p>
{% endfor %}
