:root {
	--bg: #fff;
	--fg: #000;
	--panelbg: #505660;
	--panelfg: #000;
	--paneltagbg: #e3e3e3;
	--paneltagfg: #373737;
	--codebg: #ffece0;
	--codefg: #ff6000;
	--commentbg: #eee;
	--commentfg: #000;
}
* {
	box-sizing: border-box !important;
}
body {
	background-color: var(--bg);
	color: var(--fg);
}
main {
	max-width: 70ch;
}
nav a {
	font-size: 1.2em;
}
header h1 {
	font-size: 1rem;
	margin: 0.5rem 0;
}
.headshot {
	float: right;
	margin: 0 0 10px 10px;
	border-radius: 0.5rem;
}

article img {
	max-width: 100%;
	border-radius: 0.3rem;
}

article pre,
code[class*='language-'],
pre[class*='language-'] {
	overflow-x: scroll;
	border-radius: 0.3rem;
	background-color: var(--panelbg);
}

.clearfix {
	clear: both;
	display: block;
}

section#index .thumbnail {
	width: 120px;
	height: 120px;
	float: left;
	margin-right: 10px;
	background-size: cover;
}

p code,
ol code,
ul code {
	background-color: var(--codebg);
	color: var(--codefg);
	border-radius: 4px;
	box-sizing: border-box;
	font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
	padding: 2px 4px 2px 4px;
	font-size: 0.9em;
}
#index h5 a {
	font-weight: 600;
	text-decoration: none;
	font-size: 1.5rem;
	/* todo: come back and redo all of this with tailwind */
}
#index .wrapper {
	padding-left: 135px;
}
#index article {
	padding: 10px;
	margin: 10px 0;
	background-color: var(--panelbg);
	color: var(--panelfg);
	border-radius: 0.3rem;
}
#index article h5 {
	margin: 0;
}
#index article .favorite {
	max-height: 25px;
	float: right;
}

article video {
	max-width: 100%;
}

.tagsWrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.taglist-item {
	margin-bottom: 1rem;
}

.tags {
	display: block;
}
.tags .contentTag {
	color: var(--paneltagfg);
	background-color: var(--paneltagbg);
	padding: 0 6px 0 4px;
	border-radius: 3px;
	text-transform: lowercase;
	display: inline-block;
	margin-right: 10px;
	font-style: italic;
	text-decoration: none;
}
.contentTag::before {
	content: '#';
	color: var(--paneltagfg);
	font-size: 0.9rem;
	padding-right: 0.2rem;
}
h2 .tag {
	color: var(--paneltagfg);
	background-color: var(--paneltagbg);
	padding: 0 6px 0 4px;
	border-radius: 3px;
	text-transform: lowercase;
	display: inline-block;
	margin-right: 10px;
	font-style: italic;
	text-decoration: none;
}
h2 .tag::before {
	content: '#';
	color: var(--paneltagfg);
	font-size: 2rem;
	padding-right: 0.3rem;
}
#filters label {
	display: block;
}
#filters #filterText {
	padding: 8px;
	font-size: 1.2em;
	width: 100%;
	margin: 0 10px 0 0;
}
.photo-byline {
	text-align: center;
	font-size: 0.8em;
	margin-top: -20px;
}

#webmentions h2 {
	margin-top: 3rem;
}
#webmentions h3 {
	margin-top: 1rem;
	font-weight: bold;
	font-size: 1.3rem;
}
.webmention {
	background-color: var(--commentbg);
	color: var(--commentfg);
	padding: 1rem;
	border-radius: 0.3rem;
	margin-top: 1rem;
}
.webmention img {
	max-width: 30px;
	max-height: 30px;
}
.webmention time {
	font-size: 0.8rem;
	float: right;
	width: fit-content;
	margin-top: -39px;
}
.webmention span .h-card {
	font-size: 1.3rem;
	margin-left: 40px;
	margin-top: -40px;
	display: block;
	margin-bottom: 12px;
	text-decoration: none;
	width: fit-content;
}
.webmentions__facepile img {
	border-radius: 50%;
}
.webmentions__facepile img:hover {
	border-radius: 0.3rem;
}

.andThen p {
	text-align: right;
	font-size: 0.9rem;
}

footer.page-footer {
	margin-top: 2rem;
}
@media not speech {
	.sr-only {
		display: none !important;
	}
}
@media only speech {
	.sr-only {
		display: initial;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--bg: #2a2933;
		--fg: #ccc;
		--panelbg: #1b1a21;
		--panelfg: #d3d3d3;
		--paneltagbg: #333;
		--paneltagfg: #808080;
		--codebg: #2f2f2f;
		--codefg: #c792ea;
		--commentbg: var(--panelbg);
		--commentfg: var(--panelfg);
	}
}
@media only screen and (max-width: 610px) {
	.tagsWrapper {
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr;
		margin: 0 auto;
		width: fit-content;
	}
}
