<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'head.html' %}
	</head>
	<body>
		<header class="page-header">
			<nav>
				<h1><a href="/">The Digital Garden of Adam Tuttle</a></h1>
			</nav>
		</header>
		<main>{{content}}</main>

		<footer class="page-footer">
			<small>
				Built with <img src="/img/dew.png" style="max-height: 1rem" alt="Mountain Dew" /> "in" Philly &bull; Content
				Copyright {{site.author.name}} &bull; <a href="/credits">Credits</a>
			</small>
		</footer>
	</body>
</html>
