---
layout: default
---

<article>
	<h1>{{title}}</h1>
	<p class="byline">By Adam Tuttle on <time>{{date | asPostDate }}</time></p>
	{{content | safe}}
</article>

{% if discuss %}
<section id="webmentions">
	<h2>Webmentions</h2>
	<p class="wat">It's like comments, but you do it on Twitter.</p>
	{% set webmentionUrl %}{{ page.url | url | absoluteUrl(site.url) }}{% endset %}
	{% include 'layouts/webmentions.njk' %}
</section>
{% endif %}

<section class="andThen">
	<p>
		{% if discuss %}
		<!-- <a href="https://twitter.com/search?q=https://adamtuttle.codes{{page.url}}">Discuss on Twitter</a>
		&bull; {% endif %} -->
		<a href="https://github.com/atuttle/blog/edit/main{{page.filePathStem}}.md">Edit on GitHub</a>
		&bull;
		<a href="https://github.com/atuttle/blog/commits/main{{page.filePathStem}}.md">Contributions</a>
	</p>
</section>
{% include 'backlinks.html' %}
