---
layout: default
---

<article class="h-entry">
	<h1 class="p-name">{{title}}</h1>
	<p class="byline">By <a class="p-author h-card" href="{{site.author.url}}">Adam Tuttle</a> on <time class="dt-published" datetime="{{date | htmlDateString}}">{{date | asPostDate }}</time></p>
	<div class="e-content">
		{{content | safe}}
	</div>
	<a class="u-url" href="{{page.url | absoluteUrl}}" hidden></a>
	{% if syndication %}{% for url in syndication %}<a class="u-syndication" href="{{url}}" hidden></a>{% endfor %}{% endif %}
</article>

{% if discuss %}
<section id="webmentions">
	<h2>Webmentions</h2>
	<p class="wat">It's like comments, but you do it on social media.</p>
	{% set webmentionUrl %}{{ page.url | url | absoluteUrl(site.url) }}{% endset %}
	{% include 'layouts/webmentions.njk' %}
</section>
{% endif %}

<section class="andThen">
	<p>
		{% if discuss %}
		<!-- <a href="https://twitter.com/search?q=https://adamtuttle.codes{{page.url}}">Discuss on Twitter</a>
		&bull; {% endif %} -->
		<a href="https://github.com/atuttle/blog/edit/main{{page.filePathStem}}.md">Edit on GitHub</a>
		&bull;
		<a href="https://github.com/atuttle/blog/commits/main{{page.filePathStem}}.md">Contributions</a>
	</p>
</section>
{% include 'backlinks.html' %}
