---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Articles Tagged `{{ tag }}`
permalink: /tags/{{ tag | slug }}/
---
<h1>Articles Tagged `{{ tag }}`</h1>
<p><a class="btn" href="{{ '/tags/' | url }}">All tags</a></p>

{% set filteredTag = tag %}
{% include "filteredpostslist.njk" %}
