{% assign metatitle = site.title %} {% if type == "note" %} {% assign metatitle = site.author.name %} {% endif %} {% if
title %} {% assign metatitle = metatitle | prepend: " • " | prepend: title %} {% endif %} {% assign metadesc = site.desc
%} {% if desc %} {% assign metadesc = desc %} {% endif %} {% assign metatype = "website" %} {% if type == "note" %} {%
assign metatype = "article" %} {% endif %}

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<title>{{- metatitle -}}</title>

<meta name="description" content="{{- metadesc -}}" />
<meta property="og:title" content="{{ metatitle | htmlencode}}" />
<meta property="og:type" content="{{-metatype-}}" />
<meta property="og:url" content="{{ page.url | prepend: site.baseurl }}" />
<meta property="og:description" content="{{- metadesc -}}" />
{% if img %}<meta property="og:image" content="{{ env.baseUrl }}{{ img }}" />{% endif %}

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@adamtuttle" />
<meta name="twitter:creator" content="@adamtuttle" />
<meta name="twitter:url" content="{{ page.url | prepend: site.baseurl }}" />
<meta name="twitter:title" content="{{ metatitle | htmlencode}}" />
<meta name="twitter:description" content="{{- metadesc -}}" />
<meta name="twitter:image" content="{{ env.baseUrl }}{{ img }}" />

<link rel="icon" href="https://fav.farm/🌱" />
<link rel="canonical" href="{{ page.url | prepend: site.baseurl }}" />
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap"
	rel="stylesheet"
/>
<link rel="preconnect" href="https://cdnjs.cloudflare.com/" crossorigin />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
<link rel="stylesheet" href="/assets/prism-material-dark.css" />
<link rel="stylesheet" href="/assets/style.css" />
<link rel="stylesheet" href="/assets/customizations.css" />
<link href="https://github.com/atuttle" rel="me" />
<link rel="webmention" href="https://webmention.io/adamtuttle.codes/webmention" />
<link rel="pingback" href="https://webmention.io/adamtuttle.codes/xmlrpc" />
