---
layout: layouts/base.njk
templateClass: tmpl-post
---

<main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
  <h1>{{ title }}</h1>

  <time datetime="{{ page.date | htmlDateString }}">👨‍💻 By Adam Tuttle on {{ page.date | readableDate }}</time>
  {{ content | safe }}

  <div class="tags">
    <p>✋ 🤩  High five! You've reached the end. Hungry for more? Explore these related topics:</p>
    {%- for tag in tags | filterTagList -%}
    {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
    <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }} ({{collections[tag].length}})</a>
    {%- endfor %}
  </div>
</main>

<section class="meta">
  <p>
    <a href="https://twitter.com/search?q=https://adamtuttle.codes{{page.url}}">Discuss on Twitter</a>
    &bull;
    <a href="https://github.com/atuttle/blog/edit/main{{page.filePathStem}}.md">Edit post on GitHub</a>
    &bull;
    <a href="https://github.com/atuttle/blog/commits/main{{page.filePathStem}}.md">Contributions</a>
  </p>
</section>

<footer>
{%- set nextPost = collections.blog | getNextCollectionItem(page) %}
{%- set previousPost = collections.blog | getPreviousCollectionItem(page) %}

<section id="comments">
  <div class="footerSection">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      var disqus_config = function () {
        this.page.url = '{{data.page.url}}';  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = '{{commentsPostId}}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://adam-tuttle-codes.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
  </script>
  </div>
</section>
</footer>
