---
layout: layouts/base.njk
templateClass: tmpl-post
---

<main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
  <h1>{{ title }}</h1>

  <time datetime="{{ page.date | htmlDateString }}">👨‍💻 By Adam Tuttle on {{ page.date | readableDate }}</time>
  <div class="tags">
  {%- for tag in tags | filterTagList -%}
  {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
  {%- endfor %}
  </div>

  {{ content | safe }}

  <section id="webmentions">
    <h2>Webmentions</h2>
    {% set webmentionUrl %}{{ page.url | url | absoluteUrl(site.url) }}{% endset %}
    {% include 'layouts/webmentions.njk' %}
  </section>
</main>


<footer>
{%- set nextPost = collections.blog | getNextCollectionItem(page) %}
{%- set previousPost = collections.blog | getPreviousCollectionItem(page) %}
<section id="articleFooter">
  <div class="footerSection">
  {%- if nextPost or previousPost %}
    <ul>
      {%- if nextPost %}<li>Next Entry: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
      {%- if previousPost %}<li>Previous Entry: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
    </ul>
  {%- endif %}
  {% include "./subscribe.njk" %}
  </div>
</section>
</footer>
