<div class="webmentions content-grid-sibling" id="webmentions">
  {% set mentions = webmentions | getWebmentionsForUrl(metadata.url + webmentionUrl) %}
  {% set reposts = mentions | webmentionsByType('repost-of') %}
  {% set repostsSize = reposts | size %}
  {% set likes = mentions | webmentionsByType('like-of') %}
  {% set likesSize = likes | size %}
  {% set replies = mentions | webmentionsByType(['in-reply-to','mention-of'])  %}
  {% set repliesSize = replies | size  %}

  {% if likesSize > 0 %}
    <div class="webmentions__facepile">
      <h3{% if repostsSize > 11 or likesSize > 11 %} class="webmentions__facepile__squish" {% endif %}>{{ likesSize }}
        Like{% if likesSize != 1 %}s{% endif %}</h3>

        {% for webmention in likes %}

          {% if webmention.url != "" %}
            <a class="h-card u-url link-u-exempt" href="{{ webmention.url }}" target="_blank" rel="noopener noreferrer">
          {% endif %}

          {% if webmention.author.photo %}
          <img src="{{ webmention.author.photo }}" alt="{{ webmention.author.name }}" width="48" height="48" loading="lazy">
          {% else %}
          <img class="webmention__author__photo" src="{{ '/img/avatar.svg' | url }}" alt="" width="48" height="48">
          {% endif %}

          {% if webmention.url != "" %}
            </a>
          {% endif %}
        {% endfor %}
    </div>
  {% endif %}

  {% if repostsSize > 0 %}
    <div class="webmentions__facepile">
      <h3{% if repostsSize > 11 or likesSize > 11 %} class="webmentions__facepile__squish" {% endif %}>{{ repostsSize }} Retweet{% if repostsSize != 1 %}s{% endif %}</h3>

        {% for webmention in reposts %}
          {% if webmention.url != "" %}
          <a class="h-card u-url link-u-exempt" href="{{ webmention.url }}" target="_blank" rel="noopener noreferrer">
          {% endif %}

          {% if webmention.author.photo %}
          <img src="{{ webmention.author.photo }}" alt="{{ webmention.author.name }}" width="48" height="48" loading="lazy">
          {% else %}
          <img class="webmention__author__photo" src="{{ '/img/avatar.svg' | url }}" alt="" width="48" height="48">
          {% endif %}
          {% if webmention.url != "" %}
          </a>
          {% endif %}
        {% endfor %}
    </div>
  {% endif %}

  {% if repliesSize > 0 %}
    <div class="webmention-replies">
      <h3>{{ repliesSize }} {% if repliesSize == "1" %}Reply{% else %}Replies{% endif %}</h3>

      {% for webmention in replies %}
        {% include 'layouts/webmention.njk' %}
      {% endfor %}
    </div>
  {% endif %}

  <p><a href="https://indieweb.org/Webmention">Webmentions</a> via <a href="https://webmention.io/">webmention.io</a>.
{#
  <a href="#expand-form-webmention">Submit a mention from any url</a>.</p>

  <form action="https://webmention.io/adamtuttle.codes/webmention" method="post" class="form-webmention" style="display:none">
      <label for="form-webmention-source">URL</label><br/>
      <input id="form-webmention-source" type="url" name="source" placeholder="https://example.com" required />
      <input type="hidden" name="target" value="https://adamtuttle.codes{{ page.url }}" />
      <button type="submit" class="button button-small">Send Webmention</button>
    </form>
  </div>
#}

</div>
